<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.product.mapper.ProductSubjectRelationMapper">

    <resultMap type="ProductSubjectRelation" id="ProductSubjectRelationResult">
        <result property="id" column="id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="remark" column="remark"/>
        <result property="searchValue" column="search_value"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="productId" column="product_id"/>
        <result property="subjectId" column="subject_id"/>
    </resultMap>

    <sql id="selectProductSubjectRelationVo">
        select id,
               create_by,
               create_time,
               remark,
               search_value,
               tenant_id,
               update_by,
               update_time,
               product_id,
               subject_id
        from p_product_subject_relation
    </sql>

    <select id="selectProductSubjectRelationList" parameterType="ProductSubjectRelation"
            resultMap="ProductSubjectRelationResult">
        <include refid="selectProductSubjectRelationVo"/>
        <where>
            <if test="searchValue != null  and searchValue != ''">and search_value = #{searchValue}</if>
            <if test="tenantId != null ">and tenant_id = #{tenantId}</if>
            <if test="productId != null ">and product_id = #{productId}</if>
            <if test="subjectId != null ">and subject_id = #{subjectId}</if>
        </where>
    </select>

    <select id="selectProductSubjectRelationById" parameterType="Long" resultMap="ProductSubjectRelationResult">
        <include refid="selectProductSubjectRelationVo"/>
        where id = #{id}
    </select>

    <insert id="insertProductSubjectRelation" parameterType="ProductSubjectRelation" useGeneratedKeys="true"
            keyProperty="id">
        insert into p_product_subject_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
            <if test="searchValue != null">search_value,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="productId != null">product_id,</if>
            <if test="subjectId != null">subject_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="searchValue != null">#{searchValue},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="productId != null">#{productId},</if>
            <if test="subjectId != null">#{subjectId},</if>
        </trim>
    </insert>

    <insert id="insertProductSubjectRelationList">
        INSERT INTO p_product_subject_relation (tenant_id, create_by, create_time, product_id, subject_id) VALUES
        <foreach collection="list" separator="," item="item" index="index">
            (#{item.tenantId},
            #{item.createBy},
            #{item.createTime},
            #{item.productId},
            #{item.subjectId})
        </foreach>
    </insert>

    <update id="updateProductSubjectRelation" parameterType="ProductSubjectRelation">
        update p_product_subject_relation
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="searchValue != null">search_value = #{searchValue},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="subjectId != null">subject_id = #{subjectId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProductSubjectRelationByProductId" parameterType="Long">
        delete
        from p_product_subject_relation
        where product_id = #{productId}
    </delete>

    <delete id="deleteProductSubjectRelationById" parameterType="Long">
        delete
        from p_product_subject_relation
        where id = #{id}
    </delete>

    <delete id="deleteProductSubjectRelationByIds" parameterType="Long">
        delete from p_product_subject_relation where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>